<link rel="stylesheet" href="/assets/css/componants/logout.css">

<div class="logout">
    <h1>Voulez-vous vraiment vous déconnecter ?</h1>
    <div>
        <a href="/logout/confirm">Oui je veux me déconnecter du forum</a>
        <a href="/<%= logout %>/nologout">Non je veux rester sur le forum</a>
    </div>
</div>