<link rel="stylesheet" href="/assets/css/componants/passwords.css">

<div class="password-checker">
    <div class="contain">
        <div class="progress-strength"><div style="width: 0%;" id="PC-bar"class="bar"></div><span class=""></span></div>
        <div class="contain-result">
            <p class="result-strength">Niveau de difficulté :</p>
            <span class="result" id="result">Nul</span>
        </div>
    </div>
    <span>INFO</span>
</div>

<script src="/assets/js/passwordChecker.js"></script>