<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Récupération de mot de passe</title>
    <style>
        h1{
            font-family: "Arial";
            font-weight: 400;
        }
        p {
            color: rgb(46, 46, 46);
        }
    </style>
</head>
<body>
    
    <main>
        <h1>Récupérer mon mot de passe</h1>
        <p>Est-ce vous qui avez oublié votre mot de passe et qui souhaite le changer ? Si c'est le cas, cliquez sur le bouton, sinon ignorez cet email.</p>
        <a href="<%= host %>/password/recup/<%= email %>/<%= token %>" target="_blank">Récupérer mon mot de passe</a>

    </main>
    
</body>
</html>