:root {
    --weakness: #e97575;
    --weak: #e99875;
    --moy: #e9c075;
    --strength: #c6e975;
    --very-strength: #75e979;

}

.contain_password {
    position: relative;
}

.contain_password .eye {
    position: absolute;
    top: 50%;
    right: 0;
    width: 40px;
    height: 34px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contain_password .eye svg {
    position: absolute;
    transform: scale(1.1);
    fill: var(--secondary);
    cursor: pointer;
    transition: .3s;
}

.contain_password .eye svg:hover {
    fill: var(--secondary-hover);
}

.contain_password .password-input-opt {
    margin-bottom: 15px;
}

/* PASSWORD CHECKER STRENGHT*/

.password-checker {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.password-checker .contain {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.password-checker .contain .progress-strength {
    width: 100%;
    height: 5px;
    border-radius: 10px;
    margin-right: 10px;
    background-color: var(--input-background);
}
.password-checker .contain-result {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 0.75rem;
    margin-top: 1px;
}

.contain-result .result {
    font-size: 0.81rem;
    font-weight: 700;
    margin: 0 1px;
    color: var(--secondary-hover)
}

.password-checker .result-strength {
    margin: 0 0 0 1px;
}

.password-checker .bar {
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--weakness);
}


